<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>611280763177-si6ovlsr2e47a8d02ffu4dmo9bo74sbl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.611280763177-si6ovlsr2e47a8d02ffu4dmo9bo74sbl</string>
	<key>API_KEY</key>
	<string>AIzaSyC-LOQ03ZKayDnTkLLgED6105bTRVb7P5I</string>
	<key>GCM_SENDER_ID</key>
	<string>611280763177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rjc.orillaapp</string>
	<key>PROJECT_ID</key>
	<string>orilla-app</string>
	<key>STORAGE_BUCKET</key>
	<string>orilla-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611280763177:ios:ad53a02ecdadb3e2531f38</string>
</dict>
</plist>